::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(50,0,80,1);
}

::-webkit-scrollbar-thumb {
    background: rgba(100,0,150,1);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

body {
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 18rem 4fr;
    grid-template-rows: 4rem minmax(calc(100vh - 4rem), auto);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}

.header {
    
    background-color: rgba(50, 0, 100, 1);
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    
    
    align-items: center;

    
}

.header, .proj-header {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.header p {
    padding: 0;
    margin: 0;
}

.header-hamburger {
    height: 2rem;
    width: auto;
    display: none;
}

/***SIDEBAR***/

.sidebar {
    grid-area: 2 / 1 / -1 / 2;
    background-color: rgba(60, 0, 110, 1);
    display: flex;
    flex-direction: column;
}

.sidebar > img {
    height: 2rem;
    width: auto;
    align-self: end;
    margin: 1rem;
}

.sidebar > img:hover {
    cursor: pointer;
}

.sidebar-header {
    
    margin: 0 0.5rem;
    padding: 0 0 0 1rem;
    
    border-bottom: 1px solid white;
    font-weight: bolder;
    font-size: 2rem;
    
}

.sidebar-header:first-child {
    margin-top: 2rem;
}

.entryList {
    padding: 0 3rem;
    margin: 1rem 0 1.5rem 0;
    overflow: auto;
    max-height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.entry-container {
    position: relative;
    align-self: stretch;
    display:flex;
    justify-content: space-between;
   
}

.entryList img {
    height: 1.2rem;
    width: auto;
    position: relative;
    top: 0.15rem;
    flex: 0;
}

.entryList img:hover {
    cursor:pointer;
}

.del-project {
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    align-self: center;
    font-weight: bolder;
    
}

.entry {
    background: none;
    border: none;
    font-size: 1.2rem;
    text-decoration: underline;
    flex: 0;
    
}

.entry:hover {
    cursor:pointer;
}

.entry:active {
    text-decoration: none;
}

.sidebar-header, .entry {
    color: white;
}

.main {
    grid-area: 2 / 2 / -1 / 3;
    background-color: rgb(44, 40, 44);
    display: flex;
    justify-content: center;
    
}
/***PROJECT AND TASK DISPLAY***/
.task-card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-card-container > img {
    height: 2.5rem;
    width: 2.5rem;
    align-self: end;
    margin-right: 1.2rem;
}

.task-card-container > img:hover {
    cursor: pointer;
}

.proj-header {
    align-self: stretch;
}



.task-card {
    height: 5rem;
    margin: 0.5rem 1rem;
    background-color: rgba(28,28,30,1);
    color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2rem 2fr 1fr;
    align-items: center;
    gap: 1rem;

}

.low-priority {
    border-left: 3px solid green;
}

.med-priority {
    border-left: 3px solid orange;
}

.high-priority {
    border-left: 3px solid red;
}

.task-button {
    border-radius: 100px;
    height: 1.5rem;
    width: 1.5rem;
    grid-column: 1 / 2;
    margin: 0 0.75rem;
    cursor: pointer;
}

.task-desc {
    grid-column: 2 / 3;
    justify-self: start;
    font-size: 1.2rem;
}

.task-edit {
    grid-column: 3 / 4;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    margin: 0.75rem 1rem;
}

.task-tool {
    display: flex;
    justify-content: end;
    
    gap: 0.75rem;

}

.task-tool img {
    height: 1.2rem;
    width: auto;
    cursor: pointer;
    
}

.task-tool p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/***NEW PROJECT***/
.project-card {
    height: 12rem;
    width: max(30vw, 20rem);
    margin: 4rem;
    background-color: rgba(50,0,90,1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-card > p, .new-task-card > p {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.new-buttons {
    display: flex;
    gap: 0.5rem;
}

.new-buttons button {
    flex: 1;
}

.confirm {
    background-color: green;
}

.cancel {
    background-color: red;
}

.confirm, .cancel {
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}

/***NEW TASK***/

.new-task-card {
    height: 28rem;
    width: max(60vw, 20rem);
    margin: 4rem;
    background-color: rgba(50,0,90,1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-area {
    display: flex;
    flex-direction: column;
}

.text-area > textarea {
    height: 8rem;
    width: 16rem;
    resize: none;
}

#priorities > label {
    font-weight: bolder;
}

#priorities > label:first-of-type {
    color: green;
}

#priorities > label:nth-of-type(2) {
    color: yellow;
}

#priorities > label:nth-of-type(3) {
    color: red;
}

@media screen and (max-width: 500px) {

    .header {
        grid-template-columns: 2rem 5fr;
    }
    .header-hamburger {
        display: block;
    }
    .sidebar {
        display: none;
    }

    .main {
        grid-area: 2 / 1 / -1 / 3;
        
    }

    .new-task-card {
        margin: 1rem;
    }

    .text-area > textarea {
        width: 12rem;
    }

    /*.content {
        grid-template-columns: 30vw 4fr;
    }

    .sidebar-header {
        font-size: 1.2rem;
        margin: 0 0.25rem;
        padding: 0 0 0 0.5rem;
    }

    .entryList {
        padding: 0 1.5rem;
        margin: 0.5rem 0 0.75rem 0;
    }

    .entry {
        font-size: 0.8rem;
    }

    .entryList img {
        height: 0.8rem;
    }*/
}